<%= form_for @brand, html: { multipart: true } do |f| %>

    <div class="field">
      <%= f.label :brandname, 'Brand Name' %><br>
      <%= f.text_field :brandname %>
    </div>

    <div class="field">
      <%= f.label :image, 'Upload Image' %><br>
      <%= f.file_field :image %>
    </div>

    <!--<div class="field">-->
    <!--<%= f.fields_for :products do |p| %>-->
        <!--<%= p.label :name, 'Add Product' %><br />-->
        <!--<%= p.text_field :name %>-->
    <!--<% end %>-->
    <!--</div><br>-->


    <br>
    <div class="actions">
      <%= f.submit %>
    </div>


<% end %>

