<p>
  <strong>Brand Name: </strong><%= @brand.brandname %>
</p>

<h4><%= link_to("Click here to get all product details", "/brands/#{@brand.id}/products")%></h4>
<h4><%= @brand.brandname %> has <%= @brand.products.count %> products</h4>

<%= render @brand.products %><br>


<strong>Add new product to this brand</strong><br>

<%= form_for ([@brand, @brand.products.build]) do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :stock %><br>
      <%= f.text_field :stock %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>



<br>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Home', brands_path %>
