<h2><%= @brand.brandname %> Products</h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Description</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.brand.brandname %></td>
        <td><%= product.description %></td>
        <td><%= product.stock %></td>
        <td><%= link_to 'Show', brand_product_path(@brand, product) %></td>
        <td><%= link_to 'Edit', edit_brand_product_path(@brand, product) %></td>
        <td><%= link_to 'Destroy', [@brand, product], method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_brand_product_path(@brand) %><br><br>
<%= link_to 'Back to Home Page', brands_path %>